* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin: -20px 0px 50px; */
}

h1{
    font-weight: bold;
    margin: 0;
}


p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span{
    font-size: 14px;
}

a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin: 15px 0;
}

.container{
    position: relative;
    margin: 50px 0;
    background: #fff;
    box-shadow: 0px 14px 28px rgba(0,0,0,0.25), 0px 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
    overflow: hidden;
    max-width: 100%;
    min-height: 480px;
    width: 768px;
}

.form-container form{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    height: 100%;
    margin: 0 50px;
}

.social_container{
    margin: 20px 0px;
}

.social_container a{
    border: 1px solid #b1b0b0;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 30px;
    width: 30px;
    color: #111;
    transition: transform 0.6s ease-in-out;
}

.social_container a:hover {
    transform: scale(1.2);
}

.form-container input{
    background: #eeeeee;
    border: none;
    padding: 10px 8px;
    margin: 8px 0;
    width: 100%;
}

button{
    border: 1px solid #3f2b96;
    border-radius: 20px;
    background: #3f2b96;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

button:active{
    transform: scale(0.95);
}

button:focus{
    outline: none;
}

button.ghost{
    background: transparent;
    border-color: #fff;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

#sign-in-container{
    left: 0;
    width: 50%;
    z-index: 2;
}

#sign-up-container{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay{
    background: linear-gradient(to right, #a8c0ff,#3f2b96) no-repeat 0 0 /cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.overlay-right{
    right: 0;
    transform: translateX(0);
}

.overlay-left{
    transform: translateX(-20%);
}


/* Animation */

/* Move SignIn to right */
.container.right-panel-active #sign-in-container{
    transform: translateX(100%);
}

/* Move Overlay to left */
.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}

/* Bring SignUp over SignIn*/
.container.right-panel-active #sign-up-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 3;
}

/* Bring Welcome message over*/
.container.right-panel-active .overlay{
    transform: translateX(50%);
}

/* Centering Message*/
.container.right-panel-active .overlay-left{
    transform: translateX(0);
}

/* SignIn Message Animation*/
.container.right-panel-active .overlay-right{
    transform: translateX(-10%);
}

